<div>
  <div>商品一覧</div> <div>+</div>
</div>


<div>
  <% @items.each do |item| %>
  <tr>
    <th>商品ID</th> <th>商品名</th> <th>税抜き価格</th> <th>ジャンル</th> <th>ステータス</th>
  </tr>
  <tr>
    <td><%= item.id %></td> <td><%= item.name %></td> <td><%= item.price %></td>
  </tr>
  <% end %>
</div>