<h2>商品詳細</h2>


<div>
  <div></div>
  
  <div>
    <div>
      <p>商品名</p>
    </div>
    
    <div>
      <p>商品説明</p>
    </div>
    
    <div>
      <p>ジャンル</p>
    </div>
    
    <div>
      <p>税込価格</br>
        (税抜価格)
      </p>
    </div>
    
    <div>
      <p>販売ステータス</p>
    </div>
    
  </div>
</div>
